<template>
  <div class="reactiondata">
    <DatumReactionDataTable
      v-if="reactionData.value.format === 'table'"
      :reaction-data="reactionData"
      @update-chartdata="updateChartData"
    />
    <DatumReactionDataFunction
      v-else-if="reactionData.value.format === 'function'"
      :reaction-data="reactionData"
      @update-chartdata="updateChartData"
    />
    <OPChart :chart-data="chartData" :chart-options="chartOptions" />
  </div>
</template>

<script>
import OPChart from "@/components/shared/OPChart.vue";
import reactionDataFunctions from "@/mixins/ReactionDataFunctions.vue";
import DatumReactionDataTable from "@/components/Database/Inspect/DatumReactionDataTable.vue";
import DatumReactionDataFunction from "@/components/Database/Inspect/DatumReactionDataFunction.vue";

export default {
  components: { OPChart, DatumReactionDataTable, DatumReactionDataFunction },
  mixins: [reactionDataFunctions],
  props: {
    reactionData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {
      chartTypes: { table: "scatter", function: "line" },
      chartData: {},
      chartOptions: {},
    };
  },
  methods: {
    updateChartData(chartData, chartOptions) {
      this.chartData = chartData;
      this.chartData.datasets[0].type = this.chartTypes[this.reactionData.value.format];
      this.chartOptions = chartOptions;
    },
  },
};
</script>

<style lang="scss">
.reactiondata {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
</style>
