<template>
  <DatumReaction v-if="datum.type === 'reaction'" :class="'datum'" :reaction-data="datum" />
  <DatumID v-else-if="datum.type === 'id'" :class="'datum'" :reaction-data="datum" />
  <DatumDOI v-else-if="datum.type === 'doi'" :class="'datum'" :reaction-data="datum" />
  <BaseDatumReactionData v-else-if="datum.type === 'data'" :class="'datum'" :reaction-data="datum" />
</template>

<script>
import DatumReaction from "@/components/Database/Inspect/DatumReaction.vue";
import DatumID from "@/components/Database/Inspect/DatumID.vue";
import DatumDOI from "@/components/Database/Inspect/DatumDOI.vue";
import BaseDatumReactionData from "@/components/Database/Inspect/BaseDatumReactionData.vue";

export default {
  components: { DatumReaction, DatumID, DatumDOI, BaseDatumReactionData },
  props: {
    datum: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">
.datum {
  margin: 5px 0px 5px 0px;

  &__name {
    color: $heading-color;
    text-align: start;
    padding-left: 5px;
    text-transform: capitalize;
  }
}
</style>
