<template>
  <h5 class="datum__name reactiondata__title">{{ reactionData.value.type }}</h5>
</template>

<script>
import { min, max } from "mathjs";

export default {
  components: {},
  props: {
    reactionData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  emits: ["update-chartdata"],
  data() {
    return {};
  },
  mounted: function () {
    this.$watch(
      "reactionData",
      () => {
        let chartData = { datasets: [{ type: "changed in parent", data: [] }] };

        for (let i in this.reactionData.value.x) {
          chartData.datasets[0].data.push({ x: this.reactionData.value.x[i], y: this.reactionData.value.y[i] });
        }

        let chartOptions = {
          scales: {
            x: {
              title: {
                text: this.reactionData.value.xVarName + " (" + this.reactionData.value.xUnit + ")",
              },
              min: min(this.reactionData.value.x),
              max: max(this.reactionData.value.x),
            },
            y: {
              title: {
                text: this.reactionData.value.type + " (" + this.reactionData.value.yUnit + ")",
              },
              min: min(this.reactionData.value.y),
              max: max(this.reactionData.value.y),
            },
          },
        };

        this.$emit("update-chartdata", chartData, chartOptions);
      },
      { deep: true, immediate: true }
    );
  },
};
</script>

<style lang="scss"></style>
