<template>
  <div class="reaction">
    <div class="reaction_header">
      <h5 class="datum__name">{{ reactionData.type }}</h5>
      <OPButtonDropdown :choices="possibleChoices" @choice-selected="choiceSelected" />
    </div>

    <!-- eslint-disable vue/no-v-html -->
    <span
      v-if="currentChoice === possibleChoices[0]"
      class="reaction__text"
      v-html="formatReactionString(reactionData.value.string.baseString)"
    ></span>
    <span
      v-else-if="currentChoice === possibleChoices[1]"
      class="reaction__text"
      v-html="formatReactionStringSegmented(reactionData.value.string.completeString)"
    ></span>
    <!-- eslint-enable -->
  </div>
</template>

<script>
import ReactionFormat from "@/mixins/ReactionFormat.vue";
import OPButtonDropdown from "@/components/shared/OPButtonDropdown.vue";
export default {
  components: { OPButtonDropdown },
  mixins: [ReactionFormat],
  props: {
    reactionData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    let possibleChoices = ["simple", "state-specific"];
    return { possibleChoices: possibleChoices, currentChoice: possibleChoices[0] };
  },
  methods: {
    choiceSelected(choice) {
      this.currentChoice = choice;
    },
  },
};
</script>

<style lang="scss">
// datum style used from BaseDatum.vue
// possibly bad design. Sorry :(

.reaction_header {
  display: flex;
  align-items: center;
}

.reaction {
  &__text {
    color: $text-color;
  }
}
</style>
