<template>
  <h5 class="datum__name reactiondata__title">{{ reactionData.value.type }}</h5>
  <div
    v-for="(variable, idx) of functionData[reactionData.value.functionData.function].variables"
    :key="variable.name"
    class="functionvar"
  >
    <OPButton
      :class="[idx === functionPlotData.xVariable ? 'OPButton--selected' : '', 'functionvar__xvar']"
      :button-text="'x-variable'"
      @click="xVarSelect(idx)"
    />
    <h6 class="functionvar__name">{{ variable.name }}</h6>

    <div v-if="idx === functionPlotData.xVariable" class="functionvar__valuerange">
      <input
        type="tel"
        :value="functionPlotData.variableValues[idx].min"
        class="functionvar__minval"
        @input="updateMinVal"
      />

      <input
        type="tel"
        :value="functionPlotData.variableValues[idx].max"
        class="functionvar__maxval"
        @input="updateMaxVal"
      />
    </div>
    <div v-else class="functionvar__value">lollypoop</div>
  </div>
</template>

<script>
import OPButton from "@/components/shared/OPButton.vue";
import ReactionDataFunctions from "@/mixins/ReactionDataFunctions.vue";
import { range, abs, min, max } from "mathjs";

export default {
  components: { OPButton },
  mixins: [ReactionDataFunctions],
  props: {
    reactionData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  emits: ["update-chartdata"],
  data() {
    return {
      functionPlotData: {
        xVariable: 0,
        variableValues: [],
      },
    };
  },
  watch: {
    reactionData: {
      handler: function () {
        this.functionPlotData.variableValues = this.functionData[
          this.reactionData.value.functionData.function
        ].variables.map((variable) => ({
          min: variable.minVal,
          max: 100,
          nPoints: 100,
          spacingType: "linear",
          value: variable.defaultVal,
          unit: variable.unit,
          name: variable.name,
        }));
      },
      deep: true,
      immediate: true,
    },
    functionPlotData: {
      handler: function () {
        let variableData = [];

        let xValues = [];
        let xUnit = "";
        let xVarName = "";

        for (const [idx, variable] of this.functionPlotData.variableValues.entries()) {
          if (idx === this.functionPlotData.xVariable) {
            let minVal = variable.min;
            let maxVal = variable.max;
            let nPoints = variable.nPoints;
            xUnit = variable.unit;
            xVarName = variable.name;

            switch (variable.spacingType) {
              case "linear": {
                let stepSize = abs(maxVal - minVal) / nPoints;
                xValues = range(minVal, maxVal, stepSize, true);
                variableData.push(xValues);
                break;
              }
            }
          } else {
            variableData.push(variable.value);
          }
        }

        let functionResult = this.functions[this.reactionData.value.functionData.function](variableData);

        let chartData = { datasets: [{ type: "changed in parent", data: [] }] };

        xValues = xValues.toArray();
        for (let i in xValues) {
          chartData.datasets[0].data.push({ x: xValues[i], y: functionResult[i] });
        }

        let chartOptions = {
          scales: {
            x: {
              title: {
                text: xVarName + " (" + xUnit + ")",
              },
              min: min(xValues) * 0.95,
              max: max(xValues) * 1.05,
            },
            y: {
              title: {
                text: this.reactionData.value.type + " (" + this.reactionData.value.yUnit + ")",
              },
              min: min(functionResult) * 0.95,
              max: max(functionResult) * 1.05,
            },
          },
        };

        this.$emit("update-chartdata", chartData, chartOptions);
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    xVarSelect(idx) {
      this.functionPlotData.xVariable = idx;
    },
    updateMinVal(event) {
      if (
        event.target.value > 0 &&
        event.target.value <= this.functionPlotData.variableValues[this.functionPlotData.xVariable].max
      ) {
        this.functionPlotData.variableValues[this.functionPlotData.xVariable].min = event.target.value;
      }
    },
    updateMaxVal(event) {
      if (
        event.target.value > 0 &&
        event.target.value >= this.functionPlotData.variableValues[this.functionPlotData.xVariable].min
      ) {
        this.functionPlotData.variableValues[this.functionPlotData.xVariable].max = event.target.value;
      }
    },
  },
};
</script>

<style lang="scss">
.reactiondata {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.functionvar {
  display: flex;
  align-items: center;

  &__name {
    color: $heading-color;
  }
}
</style>
