<template>
  <div class="id">
    <h5 class="datum__name id__name">{{ reactionData.type }}</h5>
    <span class="id__value">{{ reactionData.value }}</span>
  </div>
</template>

<script>
export default {
  props: {
    reactionData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">
.id {
  display: flex;
  align-items: center;

  &__name {
    margin-right: 10px;
  }

  &__value {
    color: $text-color;
  }
}
</style>
