<template>
  <div class="doi">
    <h5 class="datum__name doi__name">{{ reactionData.type }}</h5>
    <a class="doi__link" :href="reactionData.value" target="_blank" @mouseover="userAction">{{ reactionData.value }}</a>
    <div class="doi__buttons">
      <OPButton
        :class="[
          'doi__info',
          fetchingDOIInfo ? 'OPButton--loading OPButton--selected' : '',
          doiInfoMenuData.show ? 'OPButton--selected' : '',
        ]"
        :image="'info.svg'"
        @click="getDOIInfo"
      />
      <OPButton
        :class="['doi__bibtex', fetchingDOIBibtex ? 'OPButton--loading' : '']"
        :button-text="'BibTex'"
        :button-title="'Copy BibTex'"
        :image="'copy.svg'"
        :image-position="'right'"
        @click="getDOIBibtex"
      />
    </div>

    <Toast
      :toast-create="toastData.create"
      :toast-text="toastData.text"
      :toast-duration-milli-sec="toastData.durationMilliSec"
      :toast-state="toastData.state"
      :toast-position="toastData.position"
      @toast-created="toastData.create = false"
    />

    <DOIInfoMenu
      v-if="doiInfoMenuData.show"
      v-click-outside="
        () => {
          doiInfoMenuData.show = false;
        }
      "
      :info-menu-position="doiInfoMenuData.position"
      :info-menu-data="doiData"
    />
  </div>
</template>

<script>
import OPButton from "@/components/shared/OPButton.vue";
import { Toast, ToastState } from "@/components/shared/Toast.vue";
import DOIInfoMenu from "@/components/Database/Inspect/DOIInfoMenu.vue";

export default {
  components: { OPButton, Toast, DOIInfoMenu },
  props: {
    reactionData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {
      toastData: {
        text: "",
        durationMilliSec: 1000,
        create: false,
        state: ToastState.Neutral,
        position: { left: "0px", top: "0px" },
      },
      fetchingDOIBibtex: false,
      fetchingDOIInfo: false,
      doiData: {},
      doiInfoMenuData: { show: false, position: { left: "0px", top: "0px" } },
    };
  },
  methods: {
    async getDOIInfo(event) {
      if (this.doiInfoMenuData.show) {
        this.doiInfoMenuData.show = false;
      } else {
        this.fetchingDOIInfo = true;
        const response = await fetch("https://api.crossref.org/works/" + this.reactionData.value);
        if (response.ok) {
          const doiDataJSON = await response.json(); //extract JSON from the http response
          this.doiData = doiDataJSON.message;
          // do something with myJson
          let triggerInfoButton = event.target;

          this.doiInfoMenuData.position.left = triggerInfoButton.getBoundingClientRect().left + "px";
          this.doiInfoMenuData.position.top = triggerInfoButton.getBoundingClientRect().bottom + "px";
          this.doiInfoMenuData.show = true;
        } else {
          this.toastData.text = "Could not fetch DOI info";
          this.toastData.state = ToastState.Fail;

          let triggerInfoButton = event.target;

          this.toastData.position.left = triggerInfoButton.getBoundingClientRect().left + "px";
          this.toastData.position.top = triggerInfoButton.getBoundingClientRect().bottom + "px";
          this.toastData.create = true;
        }

        this.fetchingDOIInfo = false;
      }
    },
    async getDOIBibtex(event) {
      this.fetchingDOIBibtex = true;
      const response = await fetch("https://doi.org/" + this.reactionData.value, {
        headers: {
          Accept: "application/x-bibtex",
        },
      });
      if (response.ok) {
        this.toastData.state = ToastState.Success;
        const bibtex = await response.text();

        // Clipboard only defined within safe environment i.e. localhost or HTTPS
        if (navigator.clipboard) {
          navigator.clipboard.writeText(bibtex).then(
            () => {
              this.toastData.text = "BibTex copied";
            },
            () => {
              this.toastData.text = "Could not copy to clipboard";
            }
          );
        } else {
          this.toastData.state = ToastState.Fail;
          this.toastData.text = "Could not copy to clipboard";
        }
      } else {
        this.toastData.state = ToastState.Fail;
        this.toastData.text = "Could not fetch BibTex data";
      }

      let triggerBibtexButton = event.target;

      this.toastData.position.left = triggerBibtexButton.getBoundingClientRect().left + "px";
      this.toastData.position.top = triggerBibtexButton.getBoundingClientRect().bottom + "px";

      this.toastData.create = true;
      this.fetchingDOIBibtex = false;
    },
  },
};
</script>

<style lang="scss">
.doi {
  display: flex;
  flex-direction: column;

  &__name {
    text-transform: uppercase !important;
  }

  &__link {
    color: $text-color;
    margin: 5px 0px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
</style>
