<template>
  <div class="doiinfo" :style="infoMenuPosition">
    <div v-for="info of infoToDisplay" :key="info.title" class="info">
      <span class="info__title">{{ info.title }}:</span>
      <span class="info__value">{{ info.value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    infoMenuPosition: {
      type: Object,
      default: function () {
        return { left: "", right: "", top: "", bottom: "" };
      },
    },
    infoMenuData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {};
  },
  computed: {
    infoToDisplay: function () {
      let keysToDisplay = ["author", "title", "container-title", "created"];
      let infoToDisplay = [];
      for (let key of keysToDisplay) {
        if (key in this.infoMenuData) {
          switch (key) {
            case "author":
              var authorData = this.infoMenuData[key];
              var toDisplayValue = "";

              // We assume authors are ordered within array as they
              // are ordered on the paper
              for (let author of authorData) {
                toDisplayValue += author.given + " " + author.family + ", ";
              }
              // Remove trailing space + comma
              toDisplayValue = toDisplayValue.slice(0, -2);

              infoToDisplay.push({ title: key, value: toDisplayValue });
              break;
            case "title":
              var titleData = this.infoMenuData[key];

              infoToDisplay.push({ title: key, value: titleData[0] });
              break;
            case "container-title":
              var containerTitleData = this.infoMenuData[key];
              infoToDisplay.push({ title: "Journal", value: containerTitleData[0] });
              break;
            case "created":
              var createdData = this.infoMenuData[key];
              infoToDisplay.push({ title: "Year", value: createdData["date-parts"][0][0] });
              break;
          }
        }
      }
      return infoToDisplay;
    },
  },
};
</script>

<style lang="scss">
.doiinfo {
  border: 2px solid $border-hover-color;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  z-index: 10;
}

.info {
  display: flex;

  &__title {
    color: $heading-color;
    margin: 5px;
    text-transform: capitalize;
  }

  &__value {
    color: $text-color;
    margin: 5px 0px;
    margin-right: 5px;
  }
}
</style>
