<template>
  <div class="inspect_container">
    <h5 class="title">Reaction Info</h5>
    <div class="data_container">
      <BaseDatum
        v-for="(dataValue, dataField) in reactionInfoData[viewIdx]"
        :key="dataField"
        :datum="{ type: dataField, value: dataValue }"
      />
    </div>
    <div v-show="reactionInfoData.length > 1" class="chin">
      <h6>1 of 5</h6>
      <OPButton :button-text="'Previous'" :image="'back.svg'" :image-position="'left'" />
      <OPButton :button-text="'Next'" :image="'forward.svg'" :image-position="'right'" />
    </div>
  </div>
</template>

<script>
import OPButton from "@/components/shared/OPButton.vue";
import BaseDatum from "@/components/Database/Inspect/BaseDatum.vue";
export default {
  components: { OPButton, BaseDatum },
  props: {
    reactionInfoData: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return { viewIdx: 0 };
  },
  watch: {
    reactionInfoData: {
      handler: function () {
        console.log(this.reactionInfoData);
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.inspect_container {
  border: 2px solid $border-hover-color;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}

.title {
  color: $heading-color;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.chin {
  border-top: 2px solid $border-hover-color;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.data_container {
  border-top: 2px solid $border-hover-color;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
</style>
