<template>
  <div class="dropdown">
    <div class="dropdown__content">
      <router-link v-for="item in dropdownData" :key="item.id" :to="item.link" class="dropdown__item">
        {{ item.title }}
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dropdownData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.dropdown {
  position: absolute;
  display: block;
  top: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  &__item {
    color: $text-color;
    text-decoration: none;
    background-color: rgba($background-color, 1);
    padding: 10px;
    min-width: 100px;
    border: 1px solid $border-hover-color;
  }

  &__item:hover {
    background-color: rgba($border-hover-color, 1);
  }
}
</style>
