<template>
  <OPButton
    :image-position="'right'"
    :button-text="currentChoice"
    :image="'caret-down.svg'"
    @click="showDropdown($event)"
  />
  <div v-if="dropdown.show" v-click-outside="() => (dropdown.show = false)" class="dropdown" :style="dropdown.style">
    <button
      v-for="choice in getNonChosenOptions()"
      :key="choice"
      class="dropdown__item"
      @click="
        selectChoice($event, choice);
        $emit('choice-selected', choice);
      "
    >
      {{ choice }}
    </button>
  </div>
</template>

<script>
import OPButton from "@/components/shared/OPButton.vue";

export default {
  components: { OPButton },
  props: {
    choices: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  emits: ["choice-selected"],
  data() {
    return {
      dropdown: {
        style: {
          left: "",
          top: "",
        },
        show: false,
      },
      currentChoice: this.choices[0],
    };
  },
  methods: {
    showDropdown(event) {
      this.dropdown.style.left = event.target.getBoundingClientRect().left + "px";
      this.dropdown.style.top = event.target.getBoundingClientRect().bottom + "px";

      this.dropdown.show = true;
    },
    selectChoice(event, choice) {
      this.currentChoice = choice;

      this.hideDropdown();
    },
    hideDropdown() {
      this.dropdown.show = false;
    },
    getNonChosenOptions() {
      let idxChoice = this.choices.indexOf(this.currentChoice);

      let nonChosenOptions = [...this.choices];
      if (idxChoice > -1) {
        nonChosenOptions.splice(idxChoice, 1);
      }

      return nonChosenOptions;
    },
  },
};
</script>

<style lang="scss">
.dropdown {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;

  &__item {
    color: $text-color;
    text-decoration: none;
    background-color: rgba($background-color, 1);
    padding: 10px;
    border: 1px solid $border-hover-color;
    cursor: pointer;
  }

  &__item:hover {
    background-color: rgba($border-hover-color, 1);
  }
}
</style>
