<template>
  <button class="OPButton" :title="buttonTitle">
    <template v-if="buttonText === ''">
      <img class="OPButton__img" :src="require('@/assets/' + image)" />
    </template>
    <template v-else-if="image === ''">
      <!-- eslint-disable vue/no-v-html -->
      <span class="OPButton__text" v-html="buttonText"></span>
      <!-- eslint-enable -->
    </template>
    <template v-else-if="imagePosition === 'right'">
      <span class="OPButton__text OPButton__text--left"> {{ buttonText }} </span>
      <img class="OPButton__img" :src="require('@/assets/' + image)" />
    </template>
    <template v-else-if="imagePosition === 'left'">
      <img class="OPButton__img" :src="require('@/assets/' + image)" />
      <span class="OPButton__text OPButton__text--right">{{ buttonText }} </span>
    </template>
  </button>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: function () {
        return "";
      },
    },
    buttonText: {
      type: String,
      default: function () {
        return "";
      },
    },
    buttonTitle: {
      type: String,
      default: function () {
        return "";
      },
    },
    imagePosition: {
      type: String,
      default: function () {
        return "right";
      },
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
.OPButton {
  position: relative;
  color: $text-color;
  margin: 5px;
  background-color: $background-color;
  border: 2px solid $border-hover-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;

  &:hover {
    background-color: rgba($border-hover-color, 0.5);
  }

  &--selected {
    background-color: rgba($border-hover-color, 0.7);
  }

  &--static {
    position: static;
  }

  &--loading {
    color: rgba($text-color, 0);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: $text-color;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }
  }

  &__text {
    margin: 5px 10px;
    pointer-events: none;
    flex-grow: 1;

    &--left {
      margin-right: 3px;
      margin-left: 5px;
    }

    &--right {
      margin-left: 3px;
      margin-right: 5px;
    }
  }

  &__img {
    margin: 0px 5px;
    width: 17px;
    height: 20px;
    pointer-events: none;
  }
}
</style>
