<template>
  <div class="chart_container">
    <div class="chart_buttons">
      <OPButton
        :button-title="'Zoom Chart'"
        :class="['chart_button', isZoomDragEnabled ? 'OPButton--selected' : '']"
        :image="'search.svg'"
        @click="enableZoom"
      />
      <OPButton
        :button-title="'Pan Chart'"
        :class="['chart_button', isPanEnabled ? 'OPButton--selected' : '']"
        :image="'pan.svg'"
        @click="enablePan"
      />
      <OPButton :class="'chart_button'" :button-title="'Reset View'" :image="'home2.svg'" @click="resetChart" />
    </div>
    <canvas id="chart"></canvas>
  </div>
</template>

<script>
import { shallowRef } from "vue";
import { mergeObjectsNoOverride } from "@/js/utils.js";
import OPButton from "@/components/shared/OPButton.vue";
import {
  Chart,
  ScatterController,
  CategoryScale,
  LinearScale,
  LineController,
  PointElement,
  LineElement,
  LogarithmicScale,
  Tooltip,
} from "chart.js";
import zoomPlugin from "chartjs-plugin-zoom";
Chart.register(
  LogarithmicScale,
  ScatterController,
  CategoryScale,
  LinearScale,
  LineController,
  PointElement,
  LineElement,
  Tooltip
);
Chart.register(zoomPlugin);

export default {
  components: { OPButton },
  props: {
    chartHeight: {
      type: Number,
      required: false,
      default: null,
    },
    chartWidth: {
      type: Number,
      required: false,
      default: null,
    },
    chartData: {
      type: Object,
      required: true,
    },
    chartOptions: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      chart: {
        ref: null,
        initOptions: this.defaultOptions,
        initData: {},
        defaultOptions: {
          maintainAspectRatio: false,
          plugins: {
            zoom: {
              zoom: { wheel: { enabled: false }, drag: { enabled: false } },
              pan: { enabled: true, mode: "xy" },
              limits: { x: { min: "original", max: "original" }, y: { min: "original", max: "original" } },
            },
            legend: { display: false },
            tooltip: {
              callbacks: {
                title: () => {
                  return "";
                },
                label: (context) => {
                  return (
                    Number.parseFloat(context.parsed.x).toFixed(2) +
                    ": " +
                    Number.parseFloat(context.parsed.y).toExponential(2)
                  );
                },
              },
            },
          },
          scales: {
            x: {
              type: "logarithmic",
              ticks: { color: "#ffb55e" },
              title: { display: true, color: "#ffb55e" },
            },
            y: {
              type: "logarithmic",
              ticks: { callback: (val) => val.toExponential(2), color: "#ffb55e" },
              title: { display: true, color: "#ffb55e" },
            },
          },
          elements: { point: { backgroundColor: "#ff6363" } },
        },
      },
    };
  },
  computed: {
    isZoomDragEnabled() {
      if (this.chart.ref) {
        return this.chart.ref.options.plugins.zoom.zoom.drag.enabled;
      } else {
        return false;
      }
    },
    isPanEnabled() {
      if (this.chart.ref) {
        return this.chart.ref.options.plugins.zoom.pan.enabled;
      } else {
        return false;
      }
    },
  },
  watch: {
    chartOptions: {
      handler() {
        let chartOpt = mergeObjectsNoOverride(this.chartOptions, this.chart.defaultOptions);

        if (this.chart.ref) {
          this.chart.ref.options = chartOpt;
          this.chart.ref.update("none");
        } else {
          this.chart.initOptions = chartOpt;
        }
      },
      deep: true,
      immediate: true,
    },
    chartData: {
      handler() {
        if (this.chart.ref) {
          console.log(this.chartData);
          this.chart.ref.data = this.chartData;
          this.chart.ref.update("none");
        } else {
          this.chart.initData = this.chartData;
        }
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    const ctx = document.getElementById("chart");

    this.chart.ref = shallowRef(
      new Chart(ctx, {
        type: "",
        data: this.chart.initData,
        options: this.chart.initOptions,
      })
    );
  },
  methods: {
    enableZoom() {
      // Disable other zoom options
      this.chart.ref.options.plugins.zoom.pan.enabled = false;

      this.chart.ref.options.plugins.zoom.zoom.wheel.enabled = true;
      this.chart.ref.options.plugins.zoom.zoom.drag.enabled = true;

      this.chart.ref.update("none");
    },
    enablePan() {
      // Disable other zoom options
      this.chart.ref.options.plugins.zoom.zoom.wheel.enabled = false;
      this.chart.ref.options.plugins.zoom.zoom.drag.enabled = false;

      this.chart.ref.options.plugins.zoom.pan.enabled = true;

      this.chart.ref.update("none");
    },
    resetChart() {
      this.chart.ref.resetZoom(250);
    },
  },
};
</script>

<style lang="scss">
.chart_container {
  height: 70%;
}

.chart_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.chart_button {
  margin-bottom: 0px;
  padding: 3px;
  img {
    width: 20px;
  }
}
</style>
