<template>
  <div class="navbar">
    <router-link class="navbar__home" to="/">OpenPlasma</router-link>
    <ul class="navbar__list">
      <li
        class="navbar__item navbar__dropdown"
        data-id="tools"
        @mouseover="showDropdown($event)"
        @mouseout="hideDropdown($event)"
      >
        <span class="navbar__heading">Tools</span>
        <img src="@/assets/caret-down.svg" />
        <NavbarDropdown v-show="show['tools']" :dropdown-data="dropdownData['tools']" />
      </li>

      <li
        class="navbar__item navbar__dropdown"
        data-id="documentation"
        @mouseover="showDropdown($event)"
        @mouseout="hideDropdown($event)"
      >
        <span class="navbar__heading">Documentation</span>
        <img src="@/assets/caret-down.svg" />
        <NavbarDropdown v-show="show['documentation']" :dropdown-data="dropdownData['documentation']" />
      </li>

      <li
        class="navbar__item navbar__dropdown"
        data-id="tutorials"
        @mouseover="showDropdown($event)"
        @mouseout="hideDropdown($event)"
      >
        <span class="navbar__heading"> Tutorials </span>
        <img src="@/assets/caret-down.svg" />
        <NavbarDropdown v-show="show['tutorials']" :dropdown-data="dropdownData['tutorials']" />
      </li>
      <li class="navbar__item">
        <router-link class="navbar__heading" to="/about">About</router-link>
      </li>
    </ul>

    <div class="navbar__logocontainer">
      <a class="navbar__logo" href="#">
        <img class="navbar__logoimg" src="@/assets/Discord-Logo-White.svg" />
      </a>
      <a class="navbar__logo" href="#">
        <img class="navbar__logoimg" src="@/assets/gitlab-icon-rgb.svg" />
      </a>
    </div>

    <!-- <button class="navbar__item navbar__heading navbar__login">Login</button> -->
  </div>
</template>

<script>
import NavbarDropdown from "./NavbarDropdown.vue";

export default {
  components: { NavbarDropdown },
  data() {
    return {
      show: { tools: false, documentation: false, tutorials: false },
      dropdownData: {
        tools: [
          { id: 0, title: "Database", link: "database" },
          { id: 1, title: "Boltzmann Solver", link: "/" },
        ],
        documentation: [{ id: 0, title: "Very long documentation name", link: "/" }],
        tutorials: [],
      },
    };
  },
  methods: {
    showDropdown(e) {
      this.show[e.currentTarget.dataset.id] = true;
    },
    hideDropdown(e) {
      this.show[e.currentTarget.dataset.id] = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  position: sticky;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: $navbar_height;

  &__list {
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    padding-left: 40px;
  }

  &__item {
    background-color: rgba($border-hover-color, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;

    img {
      width: 10px;
      height: 10px;
      padding: 0px 3px;
    }
  }

  &__item:hover {
    background-color: rgba($border-hover-color, 0.5);
  }

  &__heading {
    font-size: 1rem;
    color: $heading-color;
    text-decoration: none;
    padding: 10px 5px;
  }

  &__home {
    font-size: 2rem;
    color: $heading-color;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
  }

  &__dropdown {
    position: relative;
  }

  &__logocontainer {
    display: flex;
    margin-left: auto;
    padding: 10px 10px;
  }

  &__logo {
    padding: 0px 5px;
  }

  &__logoimg {
    height: 30px;
    width: 30px;
  }

  &__login {
    padding: 15px;
  }
}
</style>
