<template>
  <div v-show="displayToast" :class="['toast', 'toast--' + toastState.name]" :style="toastPosition">
    <span class="toast__text">{{ toastText }}</span>
  </div>
</template>

<script>
export class ToastState {
  static Neutral = new ToastState("neutral");
  static Success = new ToastState("success");
  static Fail = new ToastState("fail");

  constructor(name) {
    this.name = name;
  }
  toString() {
    return `ToastState.${this.name}`;
  }
}

export const Toast = {
  props: {
    toastText: {
      type: String,
      default: function () {
        return "You should never see this. Awkward...";
      },
    },
    toastDurationMilliSec: {
      type: Number,
      default: function () {
        return 0;
      },
    },
    toastState: {
      type: ToastState,
      default: function () {
        return ToastState.Neutral;
      },
    },
    toastCreate: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
    toastPosition: {
      type: Object,
      default: function () {
        return { left: "", right: "", top: "", bottom: "" };
      },
    },
  },
  emits: ["toast-created"],
  data() {
    return { displayToast: false };
  },
  watch: {
    toastCreate: function (hasToDisplay) {
      if (hasToDisplay) {
        this.displayToast = true;
        console.log(this.toastPosition);
        setTimeout(() => (this.displayToast = false), this.toastDurationMilliSec);
        this.$emit("toast-created");
      }
    },
  },
};

export default Toast;
</script>

<style lang="scss">
.toast {
  border: 2px solid $border-hover-color;
  display: flex;
  position: fixed;

  &__text {
    color: $text-color;
    margin: 5px;
  }

  &--neutral {
    background-color: $background-color;
  }

  &--success {
    background-color: $background-color;
  }

  &--fail {
    background: repeating-linear-gradient(
      45deg,
      $background-color,
      $background-color 10px,
      $border-hover-color 10px,
      $border-hover-color 20px
    );
  }
}
</style>
