<template>
  <div class="tool">
    <a :href="toolData.link">Click me</a>
    <img :src="require('@/assets/' + toolData.image)" />
    <h5>{{ toolData.title }}</h5>
    <p>{{ toolData.text }}</p>
  </div>
</template>

<script>
export default {
  props: {
    toolData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.tool {
  position: relative;
  max-width: 300px;
  border: 2px solid $border-hover-color;
  margin: 0px 10px;

  a {
    /*From: https://stackoverflow.com/a/22074404 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #fff; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

  img {
    width: 120px;
    height: 150px;
  }

  h5 {
    color: $heading-color;
    padding-bottom: 5px;
  }

  p {
    word-wrap: break-word;
    color: $text-color;
    margin-bottom: 5px;
  }
}

.tool:hover {
  background-color: rgba($border-hover-color, 0.2);
}
</style>
