<template><span></span></template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    formatReactionString(reactionString) {
      // Replace any number (\d+) that is not preceded by a whitespace (?<![\s]) with a subscripted number
      let formattedString = reactionString.replace(/(?<![\s])(\d+)/g, "<sub>$1</sub>");

      formattedString = formattedString.replace("->", "&#8594;");

      // Replace any sign ([+-]) that is not preceded by a whitespace (?<![\s]) with a subscripted sign
      formattedString = formattedString.replace(/(?<![\s])([+-])/gm, "<sup>$1</sup>");

      return formattedString;
    },
    formatReactionStringSegmented(reactionString) {
      let formattedReactionString = this.formatReactionString(reactionString);

      formattedReactionString = formattedReactionString.replace("&#8594;", "<br>&#8594;<br>");

      return formattedReactionString;
    },
  },
};
</script>

<style></style>
