<template>
  <TheNavbar />
  <router-view />
</template>

<script>
import TheNavbar from "./components/shared/TheNavbar.vue";

export default {
  components: { TheNavbar },
  data() {
    return {};
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  display: block;
  background-color: $background-color;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}
</style>
