<template>
  <div class="filter">
    <OPButton :class="'filter__remove'" :image="'cross.svg'" @click="$emit('remove-filter', filterData)" />

    <h5 class="filter__name">{{ filterData.title }}:</h5>

    <FilterDropdown
      v-if="filterData.type == 'multiple_choice'"
      :filter-data="filterData"
      @add-filtervalue="(filterTitle, filterValue) => $emit('add-filtervalue', filterData, filterValue)"
      @remove-filtervalue="(filterTitle, filterValue) => $emit('remove-filtervalue', filterData, filterValue)"
    />

    <FilterInput
      v-if="filterData.type == 'text_input'"
      :filter-data="filterData"
      @add-filtervalue="(filterTitle, filterValue) => $emit('add-filtervalue', filterData, filterValue)"
    />
  </div>
</template>

<script>
import FilterDropdown from "@/components/Database/Query/FilterDropdown.vue";
import FilterInput from "@/components/Database/Query/FilterInput.vue";
import OPButton from "@/components/shared/OPButton.vue";

export default {
  components: { FilterDropdown, FilterInput, OPButton },
  props: {
    filterData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  emits: ["remove-filter", "add-filtervalue", "remove-filtervalue"],
  data() {
    return { dropdown: { show: false } };
  },
};
</script>

<style lang="scss">
.filter {
  display: flex;
  padding-left: 5px;

  &__name {
    color: $heading-color;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__remove {
    margin: 10px 5px 10px 0px;

    img {
      width: 10px;
      height: 10px;
    }
  }
}
</style>
