<template>
  <div class="filter_dropdown">
    <OPButton
      v-for="choice in dropdown.choices"
      :key="choice"
      :button-text="choice"
      @click="
        removeChoice($event, choice);
        $emit('remove-filtervalue', filterData, choice);
      "
    />

    <OPButton v-if="getNonChosenOptions().length > 0" :image="'caret-down.svg'" @click="showDropdown($event)" />

    <div v-if="dropdown.show" v-click-outside="() => (dropdown.show = false)" class="dropdown" :style="dropdown.style">
      <button
        v-for="choice in getNonChosenOptions()"
        :key="choice"
        class="dropdown__item"
        @click="
          addToChoice($event, choice);
          $emit('add-filtervalue', filterData, choice);
        "
      >
        {{ choice }}
      </button>
    </div>
  </div>
</template>

<script>
import OPButton from "@/components/shared/OPButton.vue";
export default {
  components: { OPButton },
  props: {
    filterData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  emits: ["add-filtervalue", "remove-filtervalue"],
  data() {
    return {
      dropdown: {
        style: { left: "", right: "", top: "", bottom: "" },
        show: false,
        choices: [],
      },
    };
  },
  methods: {
    showDropdown(event) {
      this.dropdown.style.left = event.target.getBoundingClientRect().left + "px";
      this.dropdown.style.top = event.target.getBoundingClientRect().bottom + "px";

      this.dropdown.show = true;
    },
    addToChoice(event, choice) {
      this.dropdown.choices.push(choice);
      this.dropdown.show = false;
    },
    removeChoice(event, choice) {
      var idxChoice = this.dropdown.choices.indexOf(choice);
      if (idxChoice > -1) {
        this.dropdown.choices.splice(idxChoice, 1);
      }
    },
    getNonChosenOptions() {
      let nonChosenOptions = [];

      for (let choice of this.filterData.values) {
        if (!this.dropdown.choices.includes(choice)) {
          nonChosenOptions.push(choice);
        }
      }

      return nonChosenOptions;
    },
  },
};
</script>

<style lang="scss" scoped>
.filter_dropdown {
  display: flex;
  flex-wrap: wrap;
}

.dropdown {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;

  &__item {
    color: $text-color;
    text-decoration: none;
    background-color: rgba($background-color, 1);
    padding: 10px;
    border: 1px solid $border-hover-color;
    cursor: pointer;
  }

  &__item:hover {
    background-color: rgba($border-hover-color, 1);
  }
}
</style>
