<template>
  <input
    v-model="filterValue"
    class="filter_input"
    :placeholder="'Type ' + filterData.title + ' here'"
    @blur="$emit('add-filtervalue', filterData, filterValue)"
  />
</template>

<script>
export default {
  props: {
    filterData: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  emits: ["add-filtervalue"],
  data() {
    return { filterValue: "" };
  },
};
</script>

<style lang="scss" scoped>
.filter_input {
  margin-left: 15px;
  max-height: 33.2px;
  background-color: $background-color;
  border: 2px solid $border-hover-color;
  color: $text-color;
}
</style>
