<template>
  <div class="query_container">
    <div class="filter_container">
      <div class="filter">
        <h5 class="filter__name">Input Species:</h5>
        <div class="filter__values filter__species">
          <OPButton
            v-for="specie in query.inputSpecies"
            :key="specie"
            :button-text="specie.completeName"
            @click="removeFromQuery(specie, 'input')"
          />
        </div>
      </div>

      <div class="filter">
        <h5 class="filter__name">Output Species:</h5>
        <div class="filter__values filter__species">
          <OPButton
            v-for="specie in query.outputSpecies"
            :key="specie"
            :button-text="specie.completeName"
            @click="removeFromQuery(specie, 'output')"
          />
        </div>
      </div>

      <BaseFilter
        v-for="filter in getEnabledFilters"
        :key="filter.title"
        :filter-data="filter"
        @remove-filter="removeFilter"
        @add-filtervalue="addFilterValue"
        @remove-filtervalue="removeFilterValue"
      />

      <OPButton :button-text="'Add Filter'" @click="showAdditionalFilters" />

      <div
        v-if="additionalFilters.show"
        v-click-outside="() => (additionalFilters.show = false)"
        class="filter_dropdown"
        :style="additionalFilters.style"
      >
        <button
          v-for="filter in getDisabledFilters"
          :key="filter.title"
          class="filter_dropdown__item"
          @click="addFilter($event, filter)"
        >
          {{ filter.title }}
        </button>
      </div>
    </div>

    <div class="query_actions">
      <OPButton
        :button-text="'Input/Output Species'"
        :image="'back.svg'"
        :class="speciesContainer.show ? 'OPButton--selected' : ''"
        :image-position="'left'"
        @click="showSpeciesContainers"
      />

      <OPButton
        :button-text="'Results'"
        :image="'forward.svg'"
        :class="queryResults.show ? 'OPButton--selected' : ''"
        :image-position="'right'"
        @click="showQueryResults"
      />

      <OPButton :button-text="'Query'" :image="'search.svg'" :image-position="'right'" @click="submitQuery" />
    </div>
  </div>

  <SpeciesContainer
    v-show="speciesContainer.show"
    class="input_species"
    :data-title="'input'"
    @state-selected="addToQuery($event, 'input')"
  />

  <SpeciesContainer
    v-show="speciesContainer.show"
    class="output_species"
    :data-title="'output'"
    @state-selected="addToQuery($event, 'output')"
  />

  <QueryResults
    v-show="queryResults.show"
    class="query_results"
    :query-results="queryResults.results"
    @view-reactioninfodata="onViewReactionInfoData"
  />
</template>

<script>
import SpeciesContainer from "@/components/Database/Query/SpeciesContainer.vue";
import BaseFilter from "@/components/Database/Query/BaseFilter.vue";
import QueryResults from "@/components/Database/Query/QueryResults.vue";
import OPButton from "@/components/shared/OPButton.vue";

export default {
  components: { SpeciesContainer, BaseFilter, QueryResults, OPButton },
  emits: ["view-reactioninfodata"],
  data() {
    return {
      query: { inputSpecies: [], outputSpecies: [], additionalFilters: {} },
      queryResults: {
        results: [],
        show: false,
      },
      speciesContainer: {
        show: true,
      },
      additionalFilters: {
        choices: [
          {
            title: "Reaction Type",
            type: "multiple_choice",
            values: ["ionization", "attachment"],
            enabled: false,
          },
          { title: "doi", type: "text_input", enabled: false },
          {
            title: "Data origin",
            type: "multiple_choice",
            values: ["theoretical", "experiment", "swarm fitted"],
            enabled: false,
          },
        ],
        show: false,
        style: { left: "", right: "", top: "", bottom: "" },
      },
    };
  },
  computed: {
    getEnabledFilters() {
      let enabledFilters = [];

      for (let filter of this.additionalFilters.choices) {
        if (filter.enabled) {
          enabledFilters.push(filter);
        }
      }

      return enabledFilters;
    },
    getDisabledFilters() {
      let disabledFilters = [];

      for (let filter of this.additionalFilters.choices) {
        if (!filter.enabled) {
          disabledFilters.push(filter);
        }
      }

      return disabledFilters;
    },
  },
  methods: {
    addToQuery(selectedState, inOrOut) {
      let completeName = selectedState.baseSpecie;

      if (
        selectedState.electronic.length > 0 &&
        selectedState.vibrational.length > 0 &&
        selectedState.rotational.length > 0
      ) {
        completeName +=
          "(" +
          selectedState.electronic +
          ", v = " +
          selectedState.vibrational +
          ", J = " +
          selectedState.rotational +
          ")";
      }

      let specie = {
        completeName: completeName,
        baseSpecie: selectedState.baseSpecie,
        electronic: selectedState.electronic,
        vibrational: selectedState.vibrational,
        rotational: selectedState.rotational,
      };

      if (inOrOut === "input") {
        this.query.inputSpecies.push(specie);
      } else if (inOrOut === "output") {
        this.query.outputSpecies.push(specie);
      }
    },
    removeFromQuery(specie, inOrOut) {
      var idxSpecies = -1;
      if (inOrOut === "input") {
        idxSpecies = this.query.inputSpecies.indexOf(specie);
        if (idxSpecies > -1) {
          this.query.inputSpecies.splice(idxSpecies, 1);
        }
      } else if (inOrOut === "output") {
        idxSpecies = this.query.outputSpecies.indexOf(specie);
        if (idxSpecies > -1) {
          this.query.outputSpecies.splice(idxSpecies, 1);
        }
      }
    },
    showAdditionalFilters(event) {
      this.additionalFilters.style.left = event.pageX + "px";
      this.additionalFilters.style.top = event.pageY + "px";

      this.additionalFilters.show = !this.additionalFilters.show;
    },
    addFilter(event, filter) {
      filter.enabled = true;

      if (filter.type === "multiple_choice") {
        this.query.additionalFilters[filter.title] = new Set();
      } else if (filter.type === "text_input") {
        this.query.additionalFilters[filter.title] = "";
      }

      this.additionalFilters.show = false;
    },
    removeFilter(filter) {
      filter.enabled = false;

      delete this.query.additionalFilters[filter.title];
    },
    addFilterValue(filter, filterValue) {
      if (filter.type === "multiple_choice") {
        this.query.additionalFilters[filter.title].add(filterValue);
      } else if (filter.type === "text_input") {
        if (filterValue.length > 0) {
          this.query.additionalFilters[filter.title] = filterValue;
        } else {
          delete this.query.additionalFilters[filter.title];
        }
      }
    },
    removeFilterValue(filter, filterValue) {
      if (filter.type === "multiple_choice") {
        this.query.additionalFilters[filter.title].delete(filterValue);
        if (!this.query.additionalFilters[filter.title].size > 0) {
          delete this.query.additionalFilters[filter.title];
        }
      }
    },
    showQueryResults() {
      this.speciesContainer.show = false;
      this.queryResults.show = true;

      console.log(this.queryResults.results);
    },
    showSpeciesContainers() {
      this.queryResults.show = false;
      this.speciesContainer.show = true;
    },
    submitQuery() {
      // Submit the query that we have built
      console.log(this.query);

      this.queryResults.results = [
        {
          id: "1",
          reaction: {
            type: "ionization",
            string: {
              baseString: "e- + O2 -> e- + e- + O2+",
              completeString: "e- + O2(X, v = 0, J = 0) -> e- + e- + O2+(X, v = 0, J = 0)",
            },
          },
          input: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "O2", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          output: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "O2+", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          doi: "https://doi.org/10.1088/0022-3727/41/23/234015",
          data: {
            type: "cross-section",
            format: "table",
            x: [
              12.06, 13.0, 15.5, 18.0, 23.0, 28.0, 33.0, 38.0, 43.0, 48.0, 53.0, 58.0, 63.0, 68.0, 73.0, 78.0, 83.0,
              88.0, 93.0, 98.0, 108.0, 118.0, 138.0, 158.0, 178.0, 198.0, 223.0, 248.0, 273.0, 298.0, 348.0, 398.0,
              448.0, 498.0, 548.0, 598.0, 648.0, 698.0, 748.0, 798.0, 848.0, 898.0, 948.0, 998.0,
            ],
            y: [
              0.0, 1.17e-22, 7.3e-22, 1.64e-21, 3.66e-21, 5.63e-21, 7.58e-21, 9.29e-21, 1.08e-20, 1.19e-20, 1.29e-20,
              1.36e-20, 1.42e-20, 1.47e-20, 1.5e-20, 1.51e-20, 1.53e-20, 1.55e-20, 1.56e-20, 1.56e-20, 1.54e-20,
              1.53e-20, 1.5e-20, 1.48e-20, 1.43e-20, 1.39e-20, 1.34e-20, 1.31e-20, 1.24e-20, 1.2e-20, 1.13e-20,
              1.05e-20, 9.83e-21, 9.23e-21, 8.82e-21, 8.27e-21, 8e-21, 7.61e-21, 7.2e-21, 6.86e-21, 6.71e-21, 6.43e-21,
              6.17e-21, 5.97e-21,
            ],
            xVarName: "Energy",
            xUnit: "eV",
            yUnit: "m2",
          },
        },
        {
          id: "2",
          reaction: {
            type: "ionization",
            string: {
              baseString: "e- + N2 -> e- + e- + N2+",
              completeString: "e- + N2(X, v = 0, J = 0) -> e- + e- + N2+(X, v = 0, J = 0)",
            },
          },
          input: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "N2", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          output: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "N2+", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          doi: "10.1088/0022-3727/41/23/234015",
          data: {
            type: "cross-section",
            format: "function",
            functionData: {
              function: "f1",
            },
            xVarName: "",
            xUnit: "",
            yUnit: "m2",
          },
        },
        {
          id: "3",
          reaction: {
            type: "attachment",
            string: {
              baseString: "e- + O2 + O2 -> O2 + O2-",
              completeString:
                "e- + O2(X, v = 0, J = 0) + O2(X, v = 0, J = 0) -> O2(X, v = 0, J = 0) + O2-(X, v = 0, J = 0)",
            },
          },
          input: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "O2", electronic: "X", vibrational: "0", rotational: "0" },
            { baseSpecie: "O2", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          output: [
            { baseSpecie: "O2", electronic: "X", vibrational: "0", rotational: "0" },
            { baseSpecie: "O2-", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          doi: "https://doi.manoi.com",
          data: {
            type: "cross-section",
            format: "table",
            x: [1, 2, 3, 4, 5],
            y: [10, 20, 30, 40, 50],
            xVarName: "Energy",
            xUnit: "eV",
            yUnit: "m2",
          },
        },
        {
          id: "4",
          reaction: {
            type: "attachment",
            string: {
              baseString: "e- + N2 -> N + N-",
              completeString: "e- + N2(X, v = 0, J = 0) -> N(X, v = 0, J = 0) + N-(X, v = 0, J = 0)",
            },
          },
          input: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "N2", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          output: [
            { baseSpecie: "N", electronic: "X", vibrational: "0", rotational: "0" },
            { baseSpecie: "N-", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          doi: "https://doi.manoi.com",
          data: {
            type: "cross-section",
            format: "table",
            x: [1, 2, 3, 4, 5],
            y: [10, 20, 30, 40, 50],
            xVarName: "Energy",
            xUnit: "eV",
            yUnit: "m2",
          },
        },
        {
          id: "5",
          reaction: {
            type: "ionization",
            string: {
              baseString: "e- + O2 -> e- + e- + O2+",
              completeString: "e- + O2(X, v = 0, J = 0) -> e- + e- + O2+(X, v = 0, J = 0)",
            },
          },
          input: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "O2", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          output: [
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "e-", electronic: "", vibrational: "", rotational: "" },
            { baseSpecie: "O2+", electronic: "X", vibrational: "0", rotational: "0" },
          ],
          doi: "https://doi.manoi2.com",
          data: {
            type: "cross-section",
            format: "function",
            f: "f12",
            c: [2, 5, 3, 8],
            xVarName: "",
            xUnit: "",
            yUnit: "m2",
          },
        },
      ];

      this.showQueryResults();
    },
    onViewReactionInfoData(reactionInfoData) {
      this.$emit("view-reactioninfodata", reactionInfoData);
    },
  },
};
</script>

<style lang="scss" scoped>
.query_container {
  border: 2px solid $border-hover-color;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.query_actions {
  display: flex;
  justify-content: flex-end;
}

.filter_container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1 1 0;
}

.filter {
  display: flex;
  padding-left: 5px;

  &__name {
    color: $heading-color;
    align-self: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__values {
    display: flex;
    flex-wrap: wrap;
  }
}

.filter_dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &__item {
    color: $text-color;
    text-decoration: none;
    background-color: rgba($background-color, 1);
    padding: 10px;
    min-width: 100px;
    border: 1px solid $border-hover-color;
    cursor: pointer;
  }

  &__item:hover {
    background-color: rgba($border-hover-color, 1);
  }
}

.input_species {
  border: 2px solid $border-hover-color;
  border-bottom: 0px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  overflow-y: auto;
}

.output_species {
  border: 2px solid $border-hover-color;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  overflow-y: auto;
}

.query_results {
  border: 2px solid $border-hover-color;
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  overflow-y: auto;
}
</style>
