<template>
  <div class="query_results">
    <div v-for="(reactionBaseStrings, reactionType) in reactions" :key="reactionType" class="reaction_container">
      <h5 class="reaction__type">{{ reactionType }}</h5>
      <div
        v-for="(reactionList, reactionBaseString) in reactionBaseStrings"
        :key="reactionBaseString"
        class="reaction__buttons"
      >
        <OPButton :class="'reaction__string'" :button-text="formatReactionString(reactionBaseString)" />
        <OPButton
          :image="'eye.svg'"
          :class="[
            'reaction__view',
            reactionsViewSelected.reactionBaseString === reactionBaseString ? 'OPButton--selected' : '',
          ]"
          @click="viewReactionInfoData($event, reactionType, reactionBaseString)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ReactionFormat from "@/mixins/ReactionFormat.vue";
import OPButton from "@/components/shared/OPButton.vue";

export default {
  components: { OPButton },
  mixins: [ReactionFormat],
  props: {
    queryResults: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  emits: ["view-reactioninfodata"],
  data() {
    return {
      reactions: {},
      reactionsViewSelected: { reactionBaseString: "" },
    };
  },
  watch: {
    queryResults: {
      handler: function () {
        this.reactions = {};
        this.sortQueryResults();

        this.reactionsViewSelected.reactionBaseString = "";
      },
      deep: true,
    },
  },
  methods: {
    sortQueryResults() {
      for (let queryResult of this.queryResults) {
        let reactionType = queryResult.reaction.type;
        let reactionBaseString = queryResult.reaction.string.baseString;

        if (reactionType in this.reactions) {
          if (reactionBaseString in this.reactions[reactionType]) {
            this.reactions[reactionType][reactionBaseString].push(queryResult);
          } else {
            this.reactions[reactionType][reactionBaseString] = [queryResult];
          }
        } else {
          this.reactions[reactionType] = {};
          this.reactions[reactionType][reactionBaseString] = [queryResult];
        }
      }
    },
    viewReactionInfoData(event, reactionType, reactionBaseString) {
      this.reactionsViewSelected.reactionBaseString = reactionBaseString;
      this.$emit("view-reactioninfodata", this.reactions[reactionType][reactionBaseString]);
    },
  },
};
</script>

<style lang="scss">
.reaction {
  &__type {
    color: $heading-color;
    text-align: start;
    margin: 5px 5px;
    text-transform: capitalize;
  }

  &__buttons {
    display: flex;
    align-items: stretch;
  }

  &__string {
    flex: 4 1 0;
  }

  &__view {
    flex: 1 1 0;
    //margin: 5px;

    img {
      height: 100%;
      width: 40px;
    }
  }
}
</style>
