<template>
  <div class="species_container">
    <h5 class="species_container__title">
      {{ title }}
    </h5>

    <div class="species species--electron">
      <OPButton
        :button-text="formatReactionString('e-')"
        @click="$emit('state-selected', { baseSpecie: 'e-', electronic: '', vibrational: '', rotational: '' })"
      />
    </div>

    <div v-for="(speciesList, letter, idxLetter) in species" :key="letter" class="species">
      <h5 class="species__firstletter">{{ letter }}</h5>

      <div class="species__buttoncontainer">
        <OPButton
          v-for="(specie, idxSpecie) in speciesList"
          :key="specie"
          :class="[
            idxLetter == selectedSpeciesButton.idxLetter && idxSpecie == selectedSpeciesButton.idxSpecie
              ? 'OPButton--selected'
              : '',
          ]"
          :data-idx-letter="idxLetter"
          :data-idx-specie="idxSpecie"
          :data-base-specie="specie"
          :button-text="formatReactionString(specie)"
          @click="toggleStatemenu"
        />
      </div>
    </div>

    <SpeciesStatemenu
      v-if="speciesStatemenu.show"
      v-click-outside="hideStatemenu"
      :trigger-species-button="speciesStatemenu.triggerSpeciesButton"
      :states="speciesStatemenu.states"
      @state-selected="onStateSelected"
    />
  </div>
</template>

<script>
import SpeciesStatemenu from "@/components/Database/Query/SpeciesStatemenu.vue";
import ReactionFormat from "@/mixins/ReactionFormat.vue";
import OPButton from "@/components/shared/OPButton.vue";

export default {
  components: { SpeciesStatemenu, OPButton },
  mixins: [ReactionFormat],
  props: {
    dataTitle: {
      type: String,
      default: function () {
        return "";
      },
    },
  },
  emits: ["state-selected"],
  data() {
    return {
      species: {},
      speciesStatemenu: {
        triggerSpeciesButton: {
          loc: {
            left: "",
            right: "",
            top: "",
            bottom: "",
          },
          species: "",
        },
        show: false,
        states: {
          all: {
            electronic: ["X", "a'Bg+", "b''Su-"],
            vibrational: ["0", "1", "2"],
            rotational: ["0", "20", "21", "22"],
          },
          paired: [
            { electronic: "X", vibrational: "0", rotational: "0" },
            { electronic: "X", vibrational: "1", rotational: "22" },
            { electronic: "a'Bg+", vibrational: "0", rotational: "0" },
            { electronic: "a'Bg+", vibrational: "1", rotational: "20" },
            { electronic: "b''Su-", vibrational: "2", rotational: "21" },
          ],
          groundState: { electronic: "X", vibrational: "0", rotational: "0" },
        },
      },
      title: "",
      selectedSpeciesButton: {
        idxSpecie: -1,
        idxLetter: -1,
        baseSpecie: "",
      },
    };
  },
  created() {
    if (this.dataTitle === "input") {
      this.title = "Available Input Species";
      this.fetchSpecies(this.dataTitle);
    } else if (this.dataTitle == "output") {
      this.title = "Available Output Species";
      this.fetchSpecies(this.dataTitle);
    }
  },
  methods: {
    fetchSpecies(speciesType) {
      if (speciesType === "input") {
        // Fetch input species from backend
        this.species = {
          H: ["H", "H2O"],
          N: ["N2"],
          O: ["O", "O2"],
        };
      } else if (speciesType === "output") {
        // Fetch output species from backend
        this.species = {
          N: ["N++", "N2+"],
          O: ["O", "OH-", "O2+", "O2-"],
        };
      }
    },
    toggleStatemenu(event) {
      let triggerSpeciesButton = event.target;
      if (
        this.selectedSpeciesButton.idxSpecie == triggerSpeciesButton.dataset.idxSpecie &&
        this.selectedSpeciesButton.idxLetter == triggerSpeciesButton.dataset.idxLetter
      ) {
        this.selectedSpeciesButton.idxSpecie = -1;
        this.selectedSpeciesButton.idxLetter = -1;
        this.speciesStatemenu.show = false;
      } else {
        this.selectedSpeciesButton.idxSpecie = triggerSpeciesButton.dataset.idxSpecie;
        this.selectedSpeciesButton.idxLetter = triggerSpeciesButton.dataset.idxLetter;
        this.selectedSpeciesButton.baseSpecie = triggerSpeciesButton.dataset.baseSpecie;

        this.fetchPossibleStates(this.selectedSpeciesButton.baseSpecie);

        this.speciesStatemenu.triggerSpeciesButton.loc.left = triggerSpeciesButton.getBoundingClientRect().left;
        this.speciesStatemenu.triggerSpeciesButton.loc.right = triggerSpeciesButton.getBoundingClientRect().right;
        this.speciesStatemenu.triggerSpeciesButton.loc.top = triggerSpeciesButton.getBoundingClientRect().top;
        this.speciesStatemenu.triggerSpeciesButton.loc.bottom = triggerSpeciesButton.getBoundingClientRect().bottom;
        this.speciesStatemenu.triggerSpeciesButton.species = triggerSpeciesButton.dataset.baseSpecie;

        this.speciesStatemenu.show = true;
      }
    },
    hideStatemenu(event) {
      let target = event.target;
      let targetParent = event.target.parentElement;
      if (
        target.className.includes("electron") ||
        targetParent.className.includes("electron") ||
        (!target.className.includes("OPButton") && !targetParent.className.includes("OPButton"))
      ) {
        this.selectedSpeciesButton.idxSpecie = -1;
        this.selectedSpeciesButton.idxLetter = -1;
        this.speciesStatemenu.show = false;
      }
    },
    fetchPossibleStates(baseSpecies) {
      // Fetch from backend
      console.log("Fetching for: " + baseSpecies);

      //this.species_statemenu.states.electronic = ["X", "2S4g", "3Pu+"]
      //this.species_statemenu.states.vibrational = ["0", "1", "4", "5"]
      //this.species_statemenu.states.rotational = ["1", "2", "21", "22", "23"]
    },
    onStateSelected(selectedState) {
      let completeState = selectedState;
      completeState.baseSpecie = this.selectedSpeciesButton.baseSpecie;

      this.$emit("state-selected", completeState);

      this.speciesStatemenu.show = false;
      this.selectedSpeciesButton.idxLetter = -1;
      this.selectedSpeciesButton.idxSpecie = -1;
      this.selectedSpeciesButton.baseSpecie = "";
    },
  },
};
</script>

<style lang="scss" scoped>
.species_container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__title {
    color: $heading-color;
    padding: 5px 0;
  }
}

.species {
  display: flex;

  &__firstletter {
    color: $heading-color;
    padding: 5px;
    align-self: center;
  }

  &__buttoncontainer {
    padding-left: 5px;
    display: flex;
  }
}
</style>
