<template>
  <div ref="statemenu" class="species_statemenu" :style="style">
    <div
      v-if="
        states.groundState.electronic.length > 0 &&
        states.groundState.vibrational.length > 0 &&
        states.groundState.rotational.length > 0
      "
      class="state_list"
    >
      <h5 class="state_list__title">Ground State</h5>
      <div class="state_container">
        <button class="state_list__button" @click="$emit('state-selected', states.groundState)">
          ({{ states.groundState.electronic }}, v = {{ states.groundState.vibrational }}, J =
          {{ states.groundState.rotational }})
        </button>
      </div>
    </div>

    <div class="state_list">
      <h5 class="state_list__title">Electronic</h5>
      <div class="state_container">
        <button
          v-for="state in getDisplayableStates('electronic')"
          :key="state"
          class="state_list__button"
          :class="state == selectedStates.electronic ? 'state_list__button--selected' : ''"
          @click="selectState($event, 'electronic')"
        >
          {{ state }}
        </button>
      </div>
    </div>

    <div class="state_list">
      <h5 class="state_list__title">Vibrational</h5>
      <div class="state_container">
        <button
          v-for="state in getDisplayableStates('vibrational')"
          :key="state"
          class="state_list__button"
          :class="state == selectedStates.vibrational ? 'state_list__button--selected' : ''"
          @click="selectState($event, 'vibrational')"
        >
          {{ state }}
        </button>
      </div>
    </div>

    <div class="state_list">
      <h5 class="state_list__title">Rotational</h5>
      <div class="state_container">
        <button
          v-for="state in getDisplayableStates('rotational')"
          :key="state"
          class="state_list__button"
          :class="state == selectedStates.rotational ? 'state_list__button--selected' : ''"
          @click="selectState($event, 'rotational')"
        >
          {{ state }}
        </button>
      </div>
      <button
        v-if="
          selectedStates.electronic.length > 0 &&
          selectedStates.vibrational.length > 0 &&
          selectedStates.rotational.length > 0
        "
        class="state_list__button state_list__addbutton"
        @click="$emit('state-selected', selectedStates)"
      >
        ADD
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    states: {
      type: Object,
      default: function () {
        return {};
      },
    },
    triggerSpeciesButton: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  emits: ["state-selected"],
  data() {
    return {
      style: { left: "", right: "", top: "", bottom: "" },
      species: "",
      selectedStates: { electronic: "", vibrational: "", rotational: "" },
      statesToDisplay: { electronic: [], vibrational: [], rotational: [] },
    };
  },
  watch: {
    triggerSpeciesButton: {
      handler: function () {
        this.resetSelection();
        this.setPosition();
      },
      deep: true,
    },
  },
  mounted() {
    this.setPosition();
  },
  methods: {
    getDisplayableStates(stateType) {
      if (Object.values(this.selectedStates).every((selectedState) => selectedState == "")) {
        this.statesToDisplay[stateType] = this.states.all[stateType];
      }

      return this.statesToDisplay[stateType];
    },
    selectState(event, stateType) {
      let state = event.target.innerText;

      if (this.selectedStates[stateType] != state) {
        this.selectedStates[stateType] = state;
      } else {
        this.selectedStates[stateType] = "";
      }

      this.updateDisplayableStates(this.selectedStates);
    },
    updateDisplayableStates(selectedStates) {
      let remainingStates = [];
      for (let state of this.states.paired) {
        if (
          Object.entries(state).every(
            ([stateType, stateVal]) => selectedStates[stateType] == stateVal || selectedStates[stateType] == ""
          )
        ) {
          remainingStates.push(state);
        }
      }

      let uniqueStates = {
        electronic: new Set(),
        vibrational: new Set(),
        rotational: new Set(),
      };
      for (let state of remainingStates) {
        for (const [stateType, stateVal] of Object.entries(state)) {
          uniqueStates[stateType].add(stateVal);
        }
      }

      for (const [stateType, stateValues] of Object.entries(uniqueStates)) {
        this.statesToDisplay[stateType] = stateValues;
      }
    },
    resetSelection() {
      Object.keys(this.selectedStates).forEach((stateType) => (this.selectedStates[stateType] = ""));
      Object.keys(this.statesToDisplay).forEach((stateType) => (this.statesToDisplay[stateType] = []));
    },
    setPosition() {
      this.style.left = this.triggerSpeciesButton.loc.left + "px";

      // The menu should be going downwards from the pressed button only if there is enough room
      // otherwise upwards.
      let topPosition = this.triggerSpeciesButton.loc.bottom;
      if (topPosition + this.$refs.statemenu.clientHeight > window.innerHeight) {
        topPosition = this.triggerSpeciesButton.loc.top - this.$refs.statemenu.clientHeight;
      }
      this.style.top = topPosition + "px";

      this.style.bottom = "";
      this.style.right = "";
      this.species = this.triggerSpeciesButton.species;
    },
  },
};
</script>

<style lang="scss" scoped>
.species_statemenu {
  border: 2px solid $border-hover-color;
  position: fixed;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

.state_list {
  display: flex;

  &__title {
    color: $heading-color;
    padding: 5px;
    align-self: center;
    width: 101px;
  }

  &__button {
    color: $text-color;
    margin: 5px;
    padding: 5px 10px;
    background-color: $background-color;
    border: 2px solid $border-hover-color;
    cursor: pointer;

    &:hover {
      background-color: rgba($border-hover-color, 0.5);
    }

    &--selected {
      background-color: rgba($border-hover-color, 1);
    }
  }

  &__addbutton {
    margin-left: auto;
  }
}

.state_container {
  display: flex;
}
</style>
