<template>
  <div class="database">
    <Query @view-reactioninfodata="setReactionInfoData" />
    <Inspect :reaction-info-data="reactionInfoData" />
  </div>
</template>

<script>
import Query from "@/components/Database/Query/Query.vue";
import Inspect from "@/components/Database/Inspect/Inspect.vue";

export default {
  components: { Query, Inspect },
  data() {
    return {
      reactionInfoData: [],
    };
  },
  mounted() {},
  methods: {
    setReactionInfoData(reactionInfoData) {
      this.reactionInfoData = reactionInfoData;
    },
  },
};
</script>

<style lang="scss" scoped>
.database {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  // The database app should be a 1 page app, no scrolling. Need to take into account the navbar though.
  // Had to fix navbar height, which is fine.
  height: calc(100vh - #{$navbar_height});
}
</style>
