<template>
  <div class="home">
    <div class="intro">
      <h3>Free and Open-Source Plasma Physics Tools</h3>
    </div>

    <div class="tools">
      <!-- <h4>Available Tools</h4> -->
      <div class="tools__container">
        <Tool v-for="tool in tools" :key="tool.id" :tool-data="tool" />
      </div>
    </div>

    <div class="community">
      <h4>Join the community !</h4>
      <h5>All questions, critique, and suggestions are welcome !</h5>
      <br />
      <a href="#">
        <img class="community__discordimg" src="@/assets/Discord-Logo-White.svg" />
      </a>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Tool from "@/components/Home/Tool.vue";

export default {
  name: "Home",
  components: { Tool },
  data() {
    return {
      tools: [
        {
          id: 0,
          image: "database.svg",
          title: "Database",
          text: "Create sets of input data containing reaction rates and cross sections.",
          link: "database",
        },
        {
          id: 1,
          image: "boltzmann.svg",
          title: "Electron Boltzmann Solver",
          text: "Solve the electron Boltzmann equation to obtain reaction rates and transport properties.",
          link: "#",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;

  h3 {
    color: $heading-color;
  }
}

.tools {
  padding: 50px 0px;

  &__container {
    display: flex;
    justify-content: center;
  }

  h4 {
    color: $heading-color;
  }
}

.community {
  padding-top: 50px;

  h4 {
    color: $heading-color;
  }

  h5 {
    color: $text-color;
  }

  &__discordimg {
    width: 71px;
    height: 55px;
  }
}
</style>
